<a id="<%= dom_id(list_item) %>" class="mix" href="<%= admin_mix_path list_item %>">
	<div>
		<h5><%= list_item.title %></h5>
	</div>
	<div>
		<p class="audio-processing">
			<% if list_item.processing? %>
				<span class="label label-warning">Processing...</span>
			<% else %>
				<span class="label label-success">Processing Complete</span>
			<% end %>
		</p>
	</div>
</a>