<div class="row-fluid">
	<div class="span10">
		<form class="well form-search" method="get" action="<%= admin_mixes_path %>">
  		<input type="text" name="query" class="input-medium search-query">
  		<button type="submit" class="btn">Search</button>
		</form>
	</div>
	<div class="span2">
		<div class="btn-group pull-right">
			<%= link_to "New Mix", new_admin_mix_path, class: 'btn btn-large' %>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="mixes">
			<%= render partial: "list_item", collection: @mixes %>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<%= paginate @mixes %>
	</div>
</div>