<p>Hey <%= @user.first_name %>,</p>

<p>The Mix &quot;<%= @mix.title %>&quot; you recently contributed has been published! </p>

<p>Listen to it here: <%= @mix.short_url %></p>

<p>
	All the Best,
	<br/>
	The Mixture.fm Team
</p>
