<p>Hey <%= @user.first_name %>,</p>

<p>We have received your Mix &quot;<%= @mix.title %>&quot;.</p>
<p>We'll notify you as soon as it's published.</p>


<p>
	All the Best,
	<br/>
	The Mixture.fm Team
</p>