<form class="audio-form" enctype="multipart/form-data" method="post">
  <div class="errors"></div>
  
  <fieldset>
    <div class="control-group">
  
      <div class="meta disabled">
        <span class="file-name">Filename</span>
        <div class="uploaded">
          <span class="amount-uploaded">00.0 MB</span>
          of
          <span class="amount-total">00.0 MB</span>
        </div>
      </div>

      <div class="ui-progress-bar blue disabled" id="progress_bar">
        <div class="ui-progress animate" style="width: 5%;">
          <span class="ui-label" style="display:none;"></span>
        </div>
      </div>

      <div class="actions">
        <div class="btn browse-button">
          Choose a File
          <input type="file" name="file" id="fileToUpload" accept="{{ mimeTypes }}"/>
        </div>
      </div>
    </div>

  </fieldset>
</form>
