<header id="header" class="clearfix"></header>

<aside class="left-c"></aside>

<section class="middle-c">
	<div class="content-wrapper">
		<div class="player-wrapper"></div>
		<div id="content"></div>
	</div>
</section>

<aside class="right-c">

</aside>