<header id="header" class="clearfix"></header>

<aside class="left-c"></aside>

<section class="middle-c">
	<div class="content-wrapper">
		<div class="player-wrapper"></div>
		<div id="content"></div>
	</div>
</section>

<aside class="right-c">
	<footer>
		<ul>
			<li><a data-bypass href="http://blog.mixture.fm" target="_blank">Blog</a></li>
			<li><a data-bypass href="mailto:hello@mixture.fm">Contact</a></li>
			<li><a data-bypass href="http://twitter.com/mixturefm" target="_blank">@mixturefm</a></li>
			<li><span>&copy; 2012 Butter llc</span></li>
		</ul>
	</footer>
</aside>