<div id="player" class="disabled">
	
	<div class="top">
		<div class="button-wrapper">
			<div class="play-pause-button play">
				<span class="icon">G</span>
			</div>
		</div>
		<div class="title-wrapper">
			<span class="title">
				Click on a Mix to play it...
			</span>
		</div>

		<div class="actions-wrapper">
			<button class="shortlink">
				<span class="icon">J</span>
			</button>
			<button class="favorite">
				<span class="icon">H</span>
			</button>
			<button class="facebook">
				<span class="icon">A</span>
			</button>
			<button class="twitter">
				<span class="icon">B</span>
			</button>
		</div>
	</div>

	<div class="bottom">
		<div class="progress-bar">
			<div class="loaded"></div>
			<div class="played"></div>
		</div>

		<div class="time">
			<span class="current-time">00:00:00</span> / <span class="total-time">00:00:00</span>
		</div>
	</div>

</div>