<nav class="primary">
	<div id="spinner"></div>
	<ul style="display: none;" id="user-nav">
		<li class="heading">
			<span class="avatar">
				<img src="/assets/avatar.png"/>
				<div class="overlay"></div>
			</span>
			You
		</li>
		<li>
			<a href="u/favorites" data-icon="H">Favorites</a>
		</li>
	</ul>

	<ul>
		<li class="heading">Mixes</li>
		<li>
			<a href="popular" class="active" data-icon="K">Popular</a>
		</li>
		<li>
			<a href="recent" data-icon="L">Recent</a>
		</li>
	</ul>

	<ul>
		<li class="heading">Collections</li>
		{{#collections}}
		<li>
			<a href="c/{{ slug }}" data-icon="D">{{ name }}</a>
		</li>
		{{/collections}}
		<li>
			<a href="collections">All Collections</a>
		</li>
	</ul>
	<hr/>
	<ul class="foot">
		<li>
			<a data-bypass href="http://twitter.com/mixturefm" target="_blank">T</a>
			<a data-bypass href="mailto:support@mixture.fm">M</a>
		</li>
	</ul>
</nav>