<div class="logo">M</div>

<h1>Oh Shoot!</h1>
<p class="explanation">Something went wrong. We are terribly sorry.</p>

<p class="links">
  <a href="mailto:support@mixture.fm">Email Us</a> <span class="seperator">|</span> <a href="http://twitter.com/mixturefm">Follow us on Twitter</a>
</p>