<div class="new-mix">
  <div class="audio-wrapper">
    <h3><span class="step">1</span>Audio File</h3>
  </div>

  <div class="mix-wrapper">
    <div class="overlay"></div>
    <h3><span class="step">2</span>Mix Info</h3>
  </div>

</div>