<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= display_meta_tags site: "Mixture.fm - 404" %>

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
  <link rel="SHORTCUT ICON" href="<%= image_path 'favicon.png' %>">

  <%= stylesheet_link_tag "mixture" %>

</head>

<body>
  <div id="mixture" class="error-page">
    <%= yield :layout %>
  </div>
</body>
</html>
